.yellow-1 {
  background-color: #ffffff;
}

.yellow-2 {
  background-color: #fcf4d7;
}

.yellow-3 {
  background-color: #ffd400;
}

.yellow-4 {
  background-color: #7f6a00;
}

.yellow-5 {
  background-color: #000000;
}
